CREATE DATABASE QLVATTU;
USE QLVATTU

CREATE TABLE KHACHHANG
(
MAKH NVARCHAR(5) NOT NULL PRIMARY KEY,
TENKH NVARCHAR(30) NOT NULL,
DIACHI NVARCHAR(50),
DT NVARCHAR(15) CHECK(LEN(DT)>=8),
EMAIL NVARCHAR(30)
)
CREATE TABLE VATTU
(
MAVT NVARCHAR(5) NOT NULL,
TENVT NVARCHAR(30) NOT NULL,
DVT NVARCHAR(20),
GIAMUA INT,
SLTON INT,
CONSTRAINT PK_VATTU PRIMARY KEY(MAVT),
CONSTRAINT CK_VT_GIAMUA CHECK(GIAMUA>0),
CONSTRAINT CK_VT_SLTON CHECK(SLTON>=0)
)

CREATE TABLE HOADON
(
MAHD NVARCHAR(10) NOT NULL,
NGAY DATETIME,
MAKH NVARCHAR(5),
TONGTG INT,
)
ALTER TABLE HOADON
ADD CONSTRAINT FK_HOADON_KHACHHANG FOREIGN KEY(MAKH) REFERENCES KHACHHANG(MAKH)
ALTER TABLE HOADON ADD CONSTRAINT CK_HD_NGAY CHECK(NGAY < GETDATE())

ALTER TABLE HOADON ADD CONSTRAINT PK_HD_MAHD PRIMARY KEY(MAHD)

CREATE TABLE CHITIETHOADON
(
MAHD NVARCHAR(10) NOT NULL,
MAVT NVARCHAR(5) NOT NULL,
SL INT,
KHUYENMAI FLOAT,
GIABAN INT,
CONSTRAINT CK_CTHD_SL CHECK(SL>0),
CONSTRAINT PK_CTHD PRIMARY KEY(MAHD,MAVT),
CONSTRAINT FK_CTHD_MAHD FOREIGN KEY(MAHD) REFERENCES HOADON(MAHD),
CONSTRAINT FK_CTHD_MAVT FOREIGN KEY(MAVT) REFERENCES VATTU(MAVT)
)

--THEM DU LIEU
INSERT INTO VATTU VALUES('VT01',N'XI MĂNG',N'BAO',50000, 5000)
INSERT INTO VATTU VALUES('VT02',N'CÁT',N'KHỐI',45000, 50000)
INSERT INTO VATTU VALUES('VT03',N'GẠCH ỐNG',N'VIÊN',120, 800000)

INSERT INTO KHACHHANG VALUES('KH01',N'NGUYỄN THỊ BÉ',N'TÂN BÌNH','84578950','bnt@yahoo.com')
INSERT INTO KHACHHANG VALUES('KH02',N'LÊ HOÀNG NAM',N'BÌNH CHÁNH','98789870','namlehoang@abc.com.vn')
INSERT INTO KHACHHANG VALUES('KH03',N'TRẦN THỊ CHIÊU',N'TÂN BÌNH','84578950',NULL)

INSERT INTO HOADON(MAHD,NGAY,MAKH) VALUES('HD001','2015-05-12','KH01')
INSERT INTO HOADON(MAHD,NGAY,MAKH) VALUES('HD002','2015-05-25','KH02')
INSERT INTO HOADON(MAHD,NGAY,MAKH) VALUES('HD003','2015-05-25','KH01')

SELECT * FROM HOADON
INSERT INTO CHITIETHOADON(MAHD,MAVT,SL,GIABAN) VALUES('HD001','VT01',5,52000)
INSERT INTO CHITIETHOADON(MAHD,MAVT,SL,GIABAN) VALUES('HD001','VT05',10,30000)
INSERT INTO CHITIETHOADON(MAHD,MAVT,SL,GIABAN) VALUES('HD002','VT03',10000,150)
