CREATE DATABASE QLVATTU;
GO
USE QLVATTU
GO
CREATE TABLE KHACHHANG
(
MAKH NVARCHAR(5) NOT NULL PRIMARY KEY,
TENKH NVARCHAR(30) NOT NULL,
DIACHI NVARCHAR(50),
DT NVARCHAR(15) CHECK(LEN(DT)>=8),
EMAIL NVARCHAR(30)
)

CREATE TABLE VATTU
(
MAVT NVARCHAR(5) NOT NULL,
TENVT NVARCHAR(30) NOT NULL,
DVT NVARCHAR(20),
GIAMUA INT,
SLTON INT,
CONSTRAINT PK_VATTU PRIMARY KEY(MAVT),
CONSTRAINT CK_VT_GIAMUA CHECK(GIAMUA>0),
CONSTRAINT CK_VT_SLTON CHECK(SLTON >=0)
)
CREATE TABLE HOADON
(
MAHD NVARCHAR(10) NOT NULL,
NGAY DATE,
MAKH NVARCHAR(5),
TONGTG INT,
CONSTRAINT FK_HOADON_KHACHHANG FOREIGN KEY(MAKH) REFERENCES KHACHHANG(MAKH)
)
ALTER TABLE HOADON
ADD CONSTRAINT PK_HOADON PRIMARY KEY(MAHD)

ALTER TABLE HOADON
ADD CONSTRAINT CK_HOADON_NGAY CHECK(NGAY < GETDATE())

CREATE TABLE CHITIETHOADON
(
MAHD NVARCHAR(10) NOT NULL,
MAVT NVARCHAR(5) NOT NULL,
SL INT CHECK (SL>0),
KHUYENMAI FLOAT,
GIABAN INT,
CONSTRAINT PK_CTHD PRIMARY KEY (MAHD,MAVT),
CONSTRAINT FK_CTHD_HD FOREIGN KEY(MAHD) REFERENCES HOADON(MAHD),
CONSTRAINT FK_CTHD_VT FOREIGN KEY (MAVT) REFERENCES VATTU(MAVT)
)
--them du lieu
insert into VATTU values ('VT01',N'XI MĂNG', N'BAO', 50000,5000)
insert into VATTU values ('VT02',N'CÁT', N'KHỐI', 45000,50000)
insert into VATTU values ('VT03',N'GẠCH ỐNG', N'VIÊN', 120,800000)

INSERT INTO KHACHHANG VALUES ('KH01',N'NGUYỄN THỊ BÉ',N'TÂN BÌNH', '84578950','bnt@yahoo.com')
INSERT INTO KHACHHANG VALUES ('KH02',N'LÊ HOÀNG NAM',N'BÌNH CHÁNH', '98789870','namlehoang@abc.com')
INSERT INTO KHACHHANG  VALUES('KH03', N'TRẦN THỊ CHIÊU',N'TÂN BÌNH','84578950',NULL)
SELECT * FROM KHACHHANG
INSERT INTO HOADON(MAHD,NGAY,MAKH) VALUES ('HD001','2015-05-12','KH01')
INSERT INTO HOADON(MAHD,NGAY,MAKH) VALUES ('HD002','2015-05-25','KH02')
INSERT INTO HOADON(MAHD,NGAY,MAKH) VALUES ('HD003','2015-05-25','KH01')

INSERT INTO CHITIETHOADON(MAHD,MAVT,SL,GIABAN) VALUES('HD001','VT01',5,52000)
INSERT INTO CHITIETHOADON(MAHD,MAVT,SL,GIABAN) VALUES('HD001','VT05',10,30000)
INSERT INTO CHITIETHOADON(MAHD,MAVT,SL,GIABAN) VALUES('HD002','VT03',10000,150)
SELECT * FROM VATTU
SELECT * FROM KHACHHANG
SELECT * FROM HOADON
SELECT * FROM CHITIETHOADON
